<a href="https://colab.research.google.com/github/Anupamavc/letsupgrade-python/blob/master/assignment%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
 
#append
 # animals list
animals = ['cat', 'dog', 'rabbit']
 
# 'guinea pig' is appended to the animals list
animals.append('guinea pig')
 
# Updated animals list
print('Updated animals list: ', animals)

Updated animals list:  ['cat', 'dog', 'rabbit', 'guinea pig']

In [23]:
 
#insert
 # vowel list
vowel = ['a', 'e', 'i', 'u']
 
# 'o' is inserted at index 3
# the position of 'o' will be 4th
vowel.insert(3, 'o')
 
print('Updated List:', vowel)

Updated List: ['a', 'e', 'i', 'o', 'u']

In [24]:
#sort
# vowels list
vowels = ['e', 'a', 'u', 'o', 'i']
 
# sort the vowels
vowels.sort()
 
# print vowels
print('Sorted list:', vowels)

Sorted list: ['a', 'e', 'i', 'o', 'u']

In [25]:
#clear
# Defining a list
list = [{1, 2}, ('a'), ['1.1', '2.2']]
 
# clearing the list
list.clear()
 
print('List:', list)

List: []

In [28]:
#extend
# language list
language = ['French', 'English']
 
# another list of language
language1 = ['Spanish', 'Portuguese']
 
# appending language1 elements to language
language.extend(language1)
 
print('Language List:', language)

Language List: ['French', 'English', 'Spanish', 'Portuguese']

In [29]:
#copy function in dictionary 
original = {1:'one', 2:'two'}
new = original.copy()
 
print('Orignal: ', original)
print('New: ', new)

Orignal:  {1: 'one', 2: 'two'}
New:  {1: 'one', 2: 'two'}

In [30]:
#dictionary items
# random sales dictionary
sales = { 'apple': 2, 'orange': 3, 'grapes': 4 }
 
print(sales.items())

dict_items([('apple', 2), ('orange', 3), ('grapes', 4)])

In [31]:
# dictionary update 
d = {1: "one", 2: "three"}
d1 = {2: "two"}
 
# updates the value of key 2
d.update(d1)
print(d)
 
d1 = {3: "three"}
 
# adds element with key 3
d.update(d1)
print(d)

{1: 'one', 2: 'two'}
{1: 'one', 2: 'two', 3: 'three'}

In [32]:
#dictionary values 
# random sales dictionary
sales = { 'apple': 2, 'orange': 3, 'grapes': 4 }
 
print(sales.values())

dict_values([2, 3, 4])

In [35]:
#set default 
person = {'name': 'Phill', 'age': 22}
 
age = person.setdefault('age')
print('person = ',person)
print('Age = ',age)

person =  {'name': 'Phill', 'age': 22}
Age =  22

In [36]:
#to add an element to set
# set of vowels
vowels = {'a', 'e', 'i', 'u'}
 
# adding 'o'
vowels.add('o')
print('Vowels are:', vowels)
 
# adding 'a' again
vowels.add('a')
print('Vowels are:', vowels)

Vowels are: {'o', 'u', 'i', 'a', 'e'}
Vowels are: {'o', 'u', 'i', 'a', 'e'}

In [37]:
# difference() in set 
A = {'a', 'b', 'c', 'd'}
B = {'c', 'f', 'g'}
 
# Equivalent to A-B
print(A.difference(B))
 
# Equivalent to B-A
print(B.difference(A))

{'d', 'b', 'a'}
{'g', 'f'}

In [39]:
#isdisjoint() in set
A = {'a', 'b', 'c', 'd'}
B = ['b', 'e', 'f']
C = '5de4'
D ={1 : 'a', 2 : 'b'}
E ={'a' : 1, 'b' : 2}
 
print('Are A and B disjoint?', A.isdisjoint(B))
print('Are A and C disjoint?', A.isdisjoint(C))
print('Are A and D disjoint?', A.isdisjoint(D))
print('Are A and E disjoint?', A.isdisjoint(E))

Are A and B disjoint? False
Are A and C disjoint? False
Are A and D disjoint? True
Are A and E disjoint? False

In [40]:
#issubset()
A = {1, 2, 3}
B = {1, 2, 3, 4, 5}
C = {1, 2, 4, 5}
 
# Returns True
print(A.issubset(B))
 
# Returns False
# B is not subset of A
print(B.issubset(A))
 
# Returns False
print(A.issubset(C))
 
# Returns True
print(C.issubset(B))

True
False
False
True

In [42]:
#set union()
A = {'a', 'c', 'd'}
B = {'c', 'd', 2 }
C = {1, 2, 3}
 
print('A U B =', A.union(B))
print('B U C =', B.union(C))
print('A U B U C =', A.union(B, C))
print('A.union() =', A.union())

A U B = {2, 'c', 'd', 'a'}
B U C = {1, 2, 3, 'c', 'd'}
A U B U C = {1, 2, 3, 'c', 'd', 'a'}
A.union() = {'d', 'a', 'c'}

In [43]:
# tuple count()
# vowels tuple
vowels = ('a', 'e', 'i', 'o', 'i', 'u')
 
# count element 'i'
count = vowels.count('i')
 
# print count
print('The count of i is:', count)
 
# count element 'p'
count = vowels.count('p')
 
# print count
print('The count of p is:', count)

The count of i is: 2
The count of p is: 0

In [44]:
# tuple index()
# vowels tuple
vowels = ('a', 'e', 'i', 'o', 'i', 'u')
 
# index of 'e' in vowels
index = vowels.index('e')
print('The index of e:', index)
 
# element 'i' is searched
# index of the first 'i' is returned
index = vowels.index('i')
 
print('The index of i:', index)

The index of e: 1
The index of i: 2

In [46]:
#string encode ()
# unicode string
string = 'pythön!'
 
# print string
print('The string is:', string)
 
# default encoding to utf-8
string_utf = string.encode()
 
# print result
print('The encoded version is:', string_utf)

The string is: pythön!
The encoded version is: b'pyth\xc3\xb6n!'

In [47]:
# string format()
 
# default arguments
print("Hello {}, your balance is {}.".format("Adam", 230.2346))
 
# positional arguments
print("Hello {0}, your balance is {1}.".format("Adam", 230.2346))
 
# keyword arguments
print("Hello {name}, your balance is {blc}.".format(name="Adam", blc=230.2346))
 
# mixed arguments
print("Hello {0}, your balance is {blc}.".format("Adam", blc=230.2346))

Hello Adam, your balance is 230.2346.
Hello Adam, your balance is 230.2346.
Hello Adam, your balance is 230.2346.
Hello Adam, your balance is 230.2346.

In [48]:
#string replace
song = 'cold, cold heart'
replaced_song = song.replace('o', 'e')
 
# The original string is unchanged
print('Original string:', song)
 
print('Replaced string:', replaced_song)
 
song = 'let it be, let it be, let it be'
 
# maximum of 0 substring is replaced
# returns copy of the original string
print(song.replace('let', 'so', 0))

Original string: cold, cold heart
Replaced string: celd, celd heart
let it be, let it be, let it be

In [49]:
#string swapcase
# example string
string = "THIS SHOULD ALL BE LOWERCASE."
print(string.swapcase())
 
string = "this should all be uppercase."
print(string.swapcase())
 
string = "ThIs ShOuLd Be MiXeD cAsEd."
print(string.swapcase())

this should all be lowercase.
THIS SHOULD ALL BE UPPERCASE.
tHiS sHoUlD bE mIxEd CaSeD.

In [50]:
#string translate
# first string
firstString = "abc"
secondString = "ghi"
thirdString = "ab"
 
string = "abcdef"
print("Original string:", string)
 
translation = string.maketrans(firstString, secondString, thirdString)
 
# translate string
print("Translated string:", string.translate(translation))

Original string: abcdef
Translated string: idef